---
// src/pages/labri-home.astro
import LabriLayout from '../layouts/LabriLayout.astro';
import Hero from '../components/Hero.svelte';
import QuickLinks from '../components/QuickLinks.svelte';
---

<LabriLayout title="Labri-Home">
  <Hero 
    isSerif={true}
  />
  <QuickLinks />

  <!-- Intro Text Section -->
  <section class="max-w-3xl mx-auto px-4 pb-20 text-left">
    <p class="text-gray-700 leading-relaxed text-lg">
      Welcome to the L'Abri Ideas Library, the official collection of L'Abri lectures online. 
      The library contains over 2,500 lectures presenting Christian ideas that engage 
      contemporary issues, the history of thought, religious topics, Christian doctrine, 
      personal questions and more. We hope it helps you find both new questions and new answers.
    </p>
    <br>
    <p class="text-gray-700 leading-relaxed text-lg">
      To begin, 
      <a href="/featured" class="underline decoration-1 hover:text-orange-600 transition-colors">
      listen to a few core lectures</a>, or simply scroll down to 
      <a href="/search/search/" 
        class="underline decoration-1 hover:text-orange-600 transition-colors">
          search
      </a> 
      the library, 
      <a 
        href="/topics" 
        class="underline decoration-1 hover:text-orange-600 transition-colors"
      >
        browse topics
      </a>
      , see 
      <a 
        href="/featured/" 
        class="underline decoration-1 hover:text-orange-600 transition-colors"
      >
          featured lectures
      </a>
      , or peruse our ever-growing selection of 
      <a 
        href="/playlists" 
        class="underline decoration-1 hover:text-orange-600 transition-colors"
      >
          playlists
      </a>.
    </p>
  </section>
</LabriLayout>
