---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <main class="flex flex-col items-center justify-center py-20">
    <h1 class="text-6xl font-bold text-cyan-400 mb-6">L'Abri Library</h1>
    <p class="text-xl text-slate-300 mb-8">L'Abri landing page - select items from menu.</p>
  </main>
</Layout>
