---
import Layout from '../layouts/LabriLayout.astro';
import TrackList from '../components/TrackList.svelte';
---

<Layout title="Introduction to L'Abri">
  <h1>Introduction to L'Abri</h1>
  
  {/* Tell the Svelte island which topic to filter for */}
  <TrackList topic="Introduction to L'Abri" client:load />
</Layout>
